.navbar{
    display: flex;
    background-color: black;
    padding: 20px 10px;
}

.navbar a {
    color: white;
    margin-right: 1em;
    text-decoration: none;
    transition: 0.3;
}

.navbar a:hover {
    color:#999;
}