* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(7, 6, 6);
    background: rgb(247, 244, 244);
  }
}
