body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    background-color: #9a8b08;
    color: #fff;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    border-radius: 7px;
    border-width: 1px;
    margin: 8px;
    padding: 10px;
}

.título {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.subtitulo {
    margin: 5px;
}

.botao {
    height: 40px;
    background: none;
    border-radius: 5px;
    color: #9a8b08;
    border: 2px solid #9a8b08 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
}

.botao:hover {
    background-color: #9a8b08;
    color:#fff;
}